#include <windows.h>
#include "resource.h"

#define CPAT_CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define CPAT_RT_MANIFEST 24

#define VER	0,2,1,0
#define VERSTR	"0.2.1"

VS_VERSION_INFO	VERSIONINFO
	FILEVERSION     VER
	PRODUCTVERSION  VER
#if DEBUG
	FILEFLAGS       VS_FF_PRERELEASE
#endif
	FILEOS          VOS__WINDOWS32
	FILETYPE        VFT_APP
{
	BLOCK "StringFileInfo" {
		/* English */
		BLOCK "000904b0" {
			VALUE "CompanyName",      "Sijmen J. Mulder"
			VALUE "FileVersion",      VERSTR
			VALUE "LegalCopyright",   "© 2020 Sijmen J. Mulder"
			VALUE "ProductName",      "Netwake"
			VALUE "ProductVersion",   VERSTR
			VALUE "FileDescription",  "Wake-on-LAN utility"
			VALUE "InternalName",     "Netwake"
			VALUE "OriginalFilename", "Netwake.exe"
		}

		/* Dutch */
		BLOCK "001304b0" {
			VALUE "CompanyName",      "Sijmen J. Mulder"
			VALUE "FileVersion",      VERSTR
			VALUE "LegalCopyright",   "© 2020 Sijmen J. Mulder"
			VALUE "ProductName",      "Netwake"
			VALUE "ProductVersion",   VERSTR
			VALUE "FileDescription",  "Wake-on-LAN-utility"
			VALUE "InternalName",     "Netwake"
			VALUE "OriginalFilename", "Netwake.exe"
		}
	}

	BLOCK "VarFileInfo" {
		VALUE "Translation", LANG_ENGLISH, 1200, LANG_DUTCH, 1200
	}
}

CPAT_CREATEPROCESS_MANIFEST_RESOURCE_ID CPAT_RT_MANIFEST "netwake.exe.manifest"

IDA_ACCELS ACCELERATORS {
	VK_RETURN, IDC_ENTER, VIRTKEY
	VK_DELETE, IDC_DELETE, VIRTKEY
}

STRINGTABLE
	LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
	IDS_APPTITLE	"Netwake"
	IDS_INFOTEXT	"\
Turn on a computer by sending it a Wake-on-LAN packet.\r\n\r\n\
The computer must be on the same network and have WOL enabled in its \
firmware.\r\n\r\n\
By Sijmen J. Mulder.\r\n\
Contact: ik@sjmulder.nl"
	IDS_MACLABEL	"MAC &Address:"
	IDS_WAKEBTN	"&Wake"
	IDS_NAMELABEL	"&Name:"
	IDS_FAVLABEL	"&Favourites:"
	IDS_QUITBTN	"&Quit"
	IDS_DELBTN	"&Delete"
	IDS_SAVEBTN	"&Save"

	IDS_REQNAMEMAC	"Enter a MAC address and a name first to save it."
	IDS_BADMAC	"\
Invalid MAC address.\r\n\r\n\
The address should consist of 6 pairs of hexadecimal digits (0-A), optionally \
separated by colons.\r\n\r\n\
Example: d2:32:e4:87:85:24"
	IDS_WOLSENT	"Wake-on-LAN packet sent!"

	IDS_ESOCKSETUP	"The Windows socket API could not be initialised."
	IDS_ESOCKERR	"An error occurred while sending the WOL packet."
	IDS_ECREATEWND	"A window or control could be created:"
	IDS_EPREFREAD	"\
An error occurred while reading from the registry or INI file:"
	IDS_EPREFWRITE	"\
An error occurred while writing to the registry or INI file:"
	IDS_ENAMEREAD	"The favourite name could not be read."
	IDS_ERESMISS	"A resource could not be loaded:"
	IDS_EREGCLASS	"The window class could not be registered:"
	IDS_ELOADLIB	"A required function or DLL could not be loaded:"
}

STRINGTABLE
	LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL
{
	IDS_APPTITLE	"Netwake"
	IDS_INFOTEXT	"\
Schakel op afstand een computer in met een Wake-on-LAN-bericht.\r\n\t\n\
De computer moet zich op hetzelfde netwerk bevinden en WOL moet ingeschakeld \
zijn in de firmware.\r\n\r\n\
Door Sijmen J. Mulder.\r\n\
Contact: ik@sjmulder.nl"

	IDS_MACLABEL	"MAC-&adres:"
	IDS_NAMELABEL	"&Naam:"
	IDS_WAKEBTN	"&Start"
	IDS_FAVLABEL	"&Favorieten:"
	IDS_QUITBTN	"S&luiten"
	IDS_DELBTN	"&Verwijderen"
	IDS_SAVEBTN	"Op&slaan"

	IDS_REQNAMEMAC	"\
Vul een MAC-adres en naam in om het als favoriet op te kunnen slaan."
	IDS_BADMAC	"\
Ongeldig MAC-adres.\r\n\r\n\
Het adres moet bestaan uit 6 paren hexadecimale cijfers (0-A), optioneel \
gescheiden door dubbele punten.\r\n\r\n\
Bijvoorbeeld: d2:32:e4:87:85:24"
	IDS_WOLSENT	"Wake-on-LAN-bericht verstuurd!"

	IDS_ESOCKSETUP	"De Windows Socket API kon niet worden geinitialiseerd."
	IDS_ESOCKERR	"\
Er is een fout opgetreden bij het versturen van het WOL-bericht."
	IDS_ECREATEWND	"Een venster of element kon niet worden aangemaakt:"
	IDS_EPREFREAD	"\
Er is een fout opgetreden bij het lezen uit het register of netwake.ini:"
	IDS_EPREFWRITE	"\
Er is een fout opgetreden bij het schrijven naar het register of netwake.ini:"
	IDS_ENAMEREAD	"De naam van de favoriet kon niet worden gelezen."
	IDS_ERESMISS	"Een resource kon niet worden gelezen:"
	IDS_EREGCLASS	"De windowclass kon niet worden geregistreerd:"
	IDS_ELOADLIB	"Een vereiste functie of DLL kon niet worden geladen:"
}
