#include <windows.h>
#include "resource.h"

#define CPAT_CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define CPAT_RT_MANIFEST 24

CPAT_CREATEPROCESS_MANIFEST_RESOURCE_ID CPAT_RT_MANIFEST "netwake.exe.manifest"

IDA_ACCELS ACCELERATORS {
	VK_RETURN, IDC_ENTER, VIRTKEY
	VK_DELETE, IDC_DELETE, VIRTKEY
}
